<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Nombre completo</th>
        <th scope="col">Calificación</th>
      </tr>
    </thead>
    <!-- <tbody *ngFor="let alumno of listaAlumnos" [ngClass]="{'alumno':true, 'bg-info':alumno.age >21}"> -->
    <tbody *ngFor="let alumno of listaAlumnos" [ngClass]="{'bg-success':alumno.age ==19, 'bg-primary':alumno.age ==21, 'bg-info':alumno.age ==22}">
      <tr (click)="userClicked(alumno.name)">
        <td scope="row" [ngStyle]="{backgroundColor: alumno.favoriteColor}">{{alumno.id}}</td>
        <td scope="row">{{alumno.name}}</td>
        <td scope="row">{{alumno.last_name}}</td>
        <td scope="row">{{alumno.age}}</td>
        <td scope="row">{{alumno.name}} {{alumno.last_name}} </td>
        <td scope="row" [style.backgroundColor]="getIndicador(alumno.Calificacion)">{{alumno.Calificacion}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h5>{{fecha}}</h5>
  <h4>Fecha con formato</h4>
  <h5>{{fecha | date:'MMMM dd, yyyy'}}</h5>
</div>

